<launch>

   <arg name="debug" default="false"/>
   <arg name="launch_param" value="gdb -ex run --args" if="$(arg debug)"/>
   <arg name="launch_param" value="" unless="$(arg debug)"/>


   <param name="/radar_manager/radar_pkgpath" value="$(find radar_manager_ros)"/>
   <arg name="devices_config" default="$(find radar_manager_ros)/params/radar_gen5_corner_RC18091_config.yaml" />
   <arg name="radar_manager_params" default="$(find radar_manager_ros)/params/radar_manager_example_params.yaml" />

   <node name="radar_manager" pkg="radar_manager_ros" type="radar_manager_ros" output="screen" launch-prefix="$(arg launch_param)">
    <rosparam command="load" file="$(arg radar_manager_params)"/>
    <rosparam command="load" file="$(arg devices_config)"/>
   </node>

</launch>
